*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/example/galahad/reportcardproject/ReportCard.zip
app/src/main/java/com/example/galahad/reportcardproject/Student1.zip
app/src/main/res/layout/activity_main.xml
